.categorias {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card {
    width: 140px;
    height: 170px;
    border-radius: 20px;
    overflow: hidden; 
    position: relative;
    display: flex;
    align-items: flex-end; 
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    background-color: #333333; 
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}


.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.1) 60%);
    z-index: 2; 
}

.card-text {
    position: relative;
    z-index: 3;
}

.botao-juntar:hover{
    background-color: rgb(129, 127, 123);
}

/* .dicas-le{
    
     position: relative;
    top: 400px;
    left: -750px; 

    margin-top: 30px;
    text-align: left;

}  */

.dicas-le {
    width: 120%;
    max-width: 800px;        /* Usa exatamente o mesmo tamanho do seu <main> */
    margin: 40px auto 0 auto;/* Dá espaço em cima e centraliza o bloco */
    text-align: left;        /* Alinha as frases à esquerda */
}

.grupo-dicas {
    width: 100%;
    max-width: 800px; /* Mesma largura do seu <main> */
    padding: 20px;
}

.dicas-le h1{
    font-size: 35px;
}

.dicas-le p{
    font-size: 17px;
}

